nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 16rem 0.8rem;
  position: sticky;
  top: 0;
  z-index: 100;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: #1C2431;
}

nav h4 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #5a00cc;
  letter-spacing: 1px;
  transition: color .3s;
}

/* links desktop */
#nav-links {
  display: flex;
  gap: 2rem;
}

#nav-links a {
  font-size: 1.05rem;
  font-weight: 600;
  position: relative;
  transition: color .3s, transform .2s;
  color: #1C2431;
}

#nav-links a::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 2px;
  background: #222;
  transition: width .3s ease;
}

#nav-links a:hover::after {
  width: 100%;
}

/* ========== Hamburger button (hidden on desktop) ========== */
#nav-toggle {
  display: none;
}

/* the checkbox */
.hamburger {
  display: none;
  width: 28px;
  height: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background: #1C2431;
  border-radius: 2px;
  transition: transform .25s ease, opacity .25s ease;
}


@media (max-width: 768px) {
  nav {
    padding: 2rem 1.5rem;
  }

  .hamburger {
    display: flex;
  }

  #nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid #eee;
    display: grid;
    gap: .8rem;
    padding: 1rem 5vw;
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease, transform .2s ease;
  }

  #nav-links a {
    padding: .4rem 0;
  }

  #nav-toggle:checked~#nav-links {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  #nav-toggle:checked+.hamburger span:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }

  #nav-toggle:checked+.hamburger span:nth-child(2) {
    opacity: 0;
  }

  #nav-toggle:checked+.hamburger span:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }
}